<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Recommender</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="overlay">

        <nav>
            <h1>NETFLIX</h1>
        </nav>

        <section class="hero">

            <h2>Discover Your Next Favorite Movie</h2>

            <p>
                AI-powered movie recommendations using Machine Learning
            </p>

            <form method="POST">
                <input
                    type="text"
                    name="movie"
                    placeholder="Search for a movie..."
                    required
                >

                <button type="submit">
                    Recommend
                </button>
            </form>

        </section>

        {% if searched_movie %}

        <section class="results">

            <h3>
                Recommendations for "{{ searched_movie }}"
            </h3>

            <div class="movie-grid">
                {% for movie in recommendations %}
                <div class="movie-card">

                    <h4>{{ movie.title }}</h4>

                    {% if movie.rating != "" %}
                    <p class="rating">
                        ⭐ {{ movie.rating }}
                    </p>
                    {% endif %}

                </div>
                {% endfor %}
            </div>

        </section>

        {% endif %}
    </div>
    <footer>
    <p>
        Built with Flask • Machine Learning • MovieLens Dataset
    </p>
    </footer>
</body>
</html>